@{
    ViewBag.Title = "Anasayfa";
}

<table border="1">
    <thead>
        <tr>
            <th>Aktif Kullanıcı</th>
            <th>Toplam Ziyaretçi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.ActiveMember</td>
            <td>@ViewBag.TotalVisitors</td>
        </tr>
    </tbody>
</table>

